*{
    padding: 0;
     margin: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
 }

 body{
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

 img{
    width: 200px;
}


input{
    margin-top: 50px;
    margin-left: 20px;
    height: 100px;
    width: 200px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 25px;
}

input:hover{
    background-color: aqua;
}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor{
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px;
margin-left: 100px;
}


h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}

.jubilado{  
  width: 400px;
  margin-left: 800px;
  margin-top: -150px;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}

footer{
    background-color: aqua;
    padding: 20px;
    margin-top: 50px;
}

#slogan{
    font-size: 20px;
    display: flex;
   justify-content: center;
}