*{
    padding: 0;
     margin: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 body{
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

 img{
    width: 200px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 20px;
   margin-top: 158px;
    
}

#slogan{
    font-size: 20px;
}


input:hover{
    background-color: aqua;
}

#boton{
    width: 150px;
    height: 50px;
    margin-top: 100px;
}

.horario{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dia1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    height: 20px;
}

#dia2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    height: 20px;
}

#dia3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    height: 20px;
}


h2{
    margin-top: 20px;
    margin-left: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  #opciones{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      list-style: none;
      padding: 20px;
  }
  
  li{
    border-bottom: 2px solid black;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

a{
    text-decoration: none;
    font-size: 25px;
    margin-top: 40px;
    color: black;
}

  a:active{
    color: blue;
  }
  
  li:hover{
      background-color: aqua;
  }
  
  