*{
    padding: 0;
     margin: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 body{
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

 img{
    width: 200px;
}


 footer{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 20px;
   margin-top: 220px;
    
}

#slogan{
    font-size: 20px;
}

#desplegable {
    width: 250px;
    height: 50px;
}

input{
    width: 150px;
    height: 50px;
    margin-left: 10px;
    
}

input:hover{
   background-color: aqua;
   cursor: pointer;
}

#buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;

}

h2{
    margin-top: 50px;
    margin-left: 550px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#opciones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    padding: 20px;
}

li{
    border-bottom: 2px solid black;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    color: black;
}

li:hover{
    background-color: aqua;
}

