*{
    padding: 0;
     margin: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 body{
    background-image: url('../img/fondo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

 img{
    width: 200px;
}

 footer{
    background-color: aqua;
    padding: 20px;
    
}

#slogan{
    font-size: 20px;
    display: flex;
  justify-content: center;
}

#datos{
    margin-left: 600px;
}

h3, #importante{
    color: red;
}

input{
    height: 50px;
    width: 150px;
    margin-left: 1000px;
    margin-bottom: 50px;
}



