*{
    padding: 0;
     margin: 0;
 }

 img{
    width: 200px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: aqua;
    padding: 65px;
    margin-top: 225px;
   
    
}

#slogan{
    font-size: 20px;
}

#desplegable {
    width: 250px;
    height: 50px;
}

input{
    width: 150px;
    height: 50px;
    margin-left: 10px;
}

input:hover{
    background-color: aqua;
}


#buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

h2{
    margin-top: 50px;
   display: flex;
   justify-content: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  #opciones{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      list-style: none;
      padding: 20px;
  }
  
  li{
      border: 2px solid black;
      height: 100px;
      width: 200px;
      display: flex;
      justify-content: center;
  }
  
  a{
      text-decoration: none;
      font-size: 15px;
      margin-top: 40px;
  }
  
  li:hover{
      background-color: aqua;
  }
  